body{
    cursor:none;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#090915;
font-family:Poppins,sans-serif;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
height:100vh;
overflow:hidden;

}

.background{

position:fixed;
inset:0;
background:
radial-gradient(circle,#ff4f9a22 0%,transparent 70%),
linear-gradient(#090915,#000);
z-index:-1;

}

h1{

margin-bottom:30px;

}

.cake{

position:relative;

width:260px;

height:260px;

}

.bottom,.middle,.top{

position:absolute;

left:50%;

transform:translateX(-50%);

border-radius:12px;

}

.bottom{

width:240px;

height:90px;

bottom:0;

background:#ffb3c7;

}

.middle{

width:190px;

height:70px;

bottom:90px;

background:#ffc8d8;

}

.top{

width:140px;

height:55px;

bottom:160px;

background:#ffe0ea;

}

.candles{

position:absolute;

bottom:215px;

left:50%;

transform:translateX(-50%);

display:flex;

gap:28px;

}

.candle{

width:10px;

height:45px;

background:white;

position:relative;

}

.flame{

position:absolute;

width:14px;

height:20px;

background:gold;

border-radius:50% 50% 50% 50%;

top:-18px;

left:-2px;

animation:flicker .3s infinite alternate;

}

.off{

display:none;

}

@keyframes flicker{

from{

transform:scale(1);

}

to{

transform:scale(.8);

}

}

button:not(#musicBtn){

    margin-top:40px;

    padding:18px 40px;

    border:none;

    border-radius:40px;

    background:#ff4f9a;

    color:white;

    font-size:18px;

    cursor:pointer;

}

#wish{

display:none;

text-align:center;

max-width:650px;

margin-top:40px;

}

#wish p{

margin:20px 0;

line-height:1.8;

}