/* Prevent accidental selection */

*{

    user-select:none;
    -webkit-user-select:none;
    -webkit-tap-highlight-color:transparent;

}

/* Allow typing */

input,
textarea{

    user-select:text;
    -webkit-user-select:text;

}

/* Toast */

#toast{

    position:fixed;

    left:50%;
    bottom:40px;

    transform:translateX(-50%) translateY(100px);

    background:rgba(255,255,255,.12);

    backdrop-filter:blur(20px);

    color:white;

    padding:15px 30px;

    border-radius:40px;

    font-size:16px;

    z-index:999999;

    transition:.4s;

    opacity:0;

}

#toast.show{

    transform:translateX(-50%) translateY(0);

    opacity:1;

}

/* Music Button (all pages) */

#musicBtn{

    position:fixed;

    top:20px;

    right:20px;

    width:55px;

    height:55px;

    border-radius:50%;

    border:none;

    cursor:pointer;

    background:rgba(255,255,255,.12);

    color:white;

    font-size:22px;

    backdrop-filter:blur(10px);

    z-index:99999;

    transition:.3s;

}

#musicBtn:hover{

    transform:scale(1.1);

    background:rgba(255,255,255,.2);

}

