body{
    cursor:none;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:#090915;

font-family:Poppins;

color:white;

overflow-x:hidden;

}

.bg{

position:fixed;

inset:0;

background:

radial-gradient(circle,#ff4f9a22 0%,transparent 70%),

linear-gradient(#090915,#000);

z-index:-1;

}

header{

text-align:center;

padding:70px 20px;

}

header h1{

font-size:50px;

margin-bottom:15px;

background:linear-gradient(135deg, #ffd700 0%, #ffed4e 50%, #ffd700 100%);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

background-clip:text;

}

.gallery{

width:90%;

max-width:1300px;

margin:auto;

display:grid;

grid-template-columns:repeat(auto-fit,minmax(260px,1fr));

gap:50px;

padding-bottom:100px;

}

.polaroid{

background:white;

padding:15px;

cursor:pointer;

transition:.4s;

box-shadow:0 15px 35px rgba(0,0,0,.4);

}

.polaroid:nth-child(odd){

transform:rotate(-6deg);

}

.polaroid:nth-child(even){

transform:rotate(6deg);

}

.polaroid:hover{

transform:scale(1.08) rotate(0deg);

}

.polaroid img{

width:100%;

display:block;

}

.polaroid h3{

font-family:Poppins,sans-serif;

font-size:34px;

color:#333;

text-align:center;

margin-top:12px;

}

#lightbox{

position:fixed;

inset:0;

background:#000d;

display:none;

justify-content:center;

align-items:center;

flex-direction:column;

z-index:999;

}

#preview{

width:80%;

max-width:700px;

border-radius:20px;

}

#caption{

margin-top:20px;

}

#close{

position:absolute;

top:30px;

right:40px;

font-size:50px;

cursor:pointer;

}

.next{

padding:80px;

text-align:center;

}

#nextBtn{

padding:18px 40px;

border:none;

border-radius:50px;

background:#ff4f9a;

color:white;

cursor:pointer;

font-size:18px;

}
