body{
    cursor:none;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

min-height:100vh;

min-height:100dvh;

display:flex;

justify-content:center;

align-items:center;

font-family:Poppins,sans-serif;

background:#080814;

color:white;

}

.background{

position:absolute;

inset:0;

background:

radial-gradient(circle,#8b4cff33 0%,transparent 70%),

linear-gradient(#0a0a18,#000);

}

.container{

text-align:center;

z-index:10;

}

h1{

margin-bottom:10px;

font-size:40px;

}

p{

opacity:.8;

margin-bottom:50px;

}

.gift{

position:relative;

width:220px;

height:180px;

margin:auto;

cursor:pointer;

transition:1s;

animation:float 3s infinite ease-in-out;

}

.box{

position:absolute;

bottom:0;

width:220px;

height:120px;

background:#ff4f9a;

border-radius:0 0 12px 12px;

}

.lid{

position:absolute;

top:30px;

width:220px;

height:40px;

background:#ff71af;

border-radius:8px;

transition:1s;

}

.ribbon.vertical{

position:absolute;

left:95px;

width:30px;

height:180px;

background:white;

}

.ribbon.horizontal{

position:absolute;

top:75px;

width:220px;

height:25px;

background:white;

}

.gift:hover{

transform:scale(1.05);

}

.open .lid{

transform:

translateY(-90px)

rotate(-12deg);

}

#message{

margin-top:60px;

font-size:30px;

opacity:0;

transition:1s;

}

.show{

opacity:1 !important;

}

@keyframes float{

0%{

transform:translateY(0px);
}

50%{

transform:translateY(-12px);
}

100%{

transform:translateY(0px);
}

}
