@media(max-width:768px){

.title{

font-size:55px;

}

body{
    cursor:none;
}

.countdown{

flex-wrap:wrap;

justify-content:center;

}

.countdown div{

width:80px;

height:80px;

}

.subtitle{

font-size:15px;

}

}