body{
    cursor:none;
}

*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

font-family:Poppins,sans-serif;

background:#090915;

color:white;

overflow-x:hidden;

}

.background{

position:fixed;

inset:0;

background:

radial-gradient(circle,#ff4f9a20 0%,transparent 70%),

linear-gradient(#090915,#000);

z-index:-1;

}

header{

padding:80px 20px;

text-align:center;

}

header h1{

font-size:50px;

margin-bottom:20px;

}

header p{

opacity:.8;

}

.timeline{

width:90%;

max-width:1000px;

margin:auto;

}

.memory{

display:flex;

gap:50px;

margin:120px 0;

align-items:center;

opacity:0;

transform:translateY(100px);

transition:1s;

}

.memory:nth-child(even){

flex-direction:row-reverse;

}

.photo{

flex:1;

}

.photo img{

width:100%;

border-radius:20px;

box-shadow:0 20px 60px rgba(0,0,0,.5);

}

.content{

flex:1;

}

.content h2{

margin-bottom:20px;

font-size:35px;

}

.content p{

line-height:2;

opacity:.85;

}

.show{

opacity:1;

transform:translateY(0);

}

.next{

text-align:center;

padding:100px;

}

#continue{

padding:18px 45px;

border:none;

background:#ff4f9a;

color:white;

border-radius:40px;

cursor:pointer;

font-size:18px;

transition:.3s;

}

#continue:hover{

transform:scale(1.08);

}

@media(max-width:900px){

.memory{

flex-direction:column !important;

}

header h1{

font-size:38px;

}

}